.choresText {
   color: rgb(58, 18, 160);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
}

.choresHeading {
   color: rgb(58, 18, 160);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
}